.App {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul li{
  padding: 30px;
  font-size: 30px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item{
  background-color: lightgray;
}